<!DOCTYPE html>
<html lang="uk">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>new_project</title>
</head>

<body>
   <header>
      <nav>
         <ul>
            <li><a href="index.html">Головна</a></li>
            <li><a href="resume.html">Моє резюме</a></li>
            <li>Блог
               <ol>
                  <li><a href="semantika.html">Семантика</a></li>
                  <li><a href="frontend.html">Front-End</a></li>
               </ol>
            </li>
            <li><a href="contacts.html">Контакти</a></li>
            <li><a href="anketa.html">Анкета</a></li>
         </ul>
      </nav>
   </header>




</body>

</html>